Repository AngelsAndDemonsDM/DM-Bot-server, pull requests merged in 2024-07, with the labels that each got.

#70 Texture component
  .gitignore
  Code/factory/components/texture_component.py
  Code/factory/test_fold/component.py
  Code/factory/test_fold/entity.py
  Code/main_impt.py
  Code/texture_manager/texture_system.py
  Docs/factory/components/texture_component.md
  Docs/texture_manager/texture_system.md
  Prototype/factory_mappings.yml
  Sprites/dev/Test.dms/info.yml
  Sprites/dev/Test.dms/sprite1.png
  Sprites/dev/Test.dms/sprite2.png
  Sprites/dev/Test.dms/sprite3.png
  Sprites/dev/error.dms/info.yml
  Sprites/dev/error.dms/not_found.png
  Tests/Texture/TextureSystem.py
Labels: Changes: Code, Changes: Sprites, Changes: Docs, Changes: Unit test

#73 Небольшие изменения в логике тестов
  Code/texture_manager/texture_system.py
  Code/texture_manager/texture_validator.py
  Docs/texture_manager/texture_system.md
  Docs/texture_manager/texture_validator.md
  Tests/Texture/DMSValidator.py
  Tests/Texture/ValidateTexture.py
Labels: Changes: Code, Changes: Docs, Changes: Unit test

#76 Небольшое улучшение БД
  Code/db_work/AsyncDB.py
  Code/main_impt.py
  Docs/db_work/AsyncDB.md
  Tests/DBWork/AsyncDB.py
Labels: Changes: Code, Changes: Docs, Changes: Unit test

#78 Обновление асинхронного доступа к базе данных
  Code/db_work/AsyncDB.py
  Code/db_work/__init__.py
  Tests/DBWork/AsyncDB.py
Labels: Changes: Code, Changes: Unit test

#79 Hot fix db
  Code/db_work/AsyncDB.py
Labels: Changes: Code

#80 Cl update
  changelog.yml
  updater_config.json
Labels: Update: Changelog, Update: Changelog config

#82 Docs url endpoint
  Docs/url_endpoint/сode-auth.html
Labels: Changes: Docs

#84 Общий рефактор
  .editorconfig
  Code/api/auth/__init__.py
  Code/api/auth/change_user_access.py
  Code/api/auth/change_user_password.py
  Code/api/auth/delete_user.py
  Code/api/auth/login_user.py
  Code/api/auth/logout_user.py
  Code/api/auth/regester_user.py
  Code/main.py
  Code/main_impt.py
  Code/systems/db_manager/async_DB.py
  Code/systems/entiti_components/__init__.py
  Code/systems/entiti_components/texture_component.py
  Code/systems/entiti_factory/__init__.py
  Code/systems/entiti_factory/base_component.py
  Code/systems/entiti_factory/base_entity.py
  Code/systems/entiti_factory/prototype_factory.py
  Code/systems/entiti_factory/test_fold/__init__.py
  Code/systems/entiti_factory/test_fold/component.py
  Code/systems/entiti_factory/test_fold/entity.py
  Code/systems/entity_system/__init__.py
  Code/systems/entity_system/base_component.py
  Code/systems/entity_system/base_entity.py
  Code/systems/entity_system/factory.py
  Code/systems/map_manager/__init__.py
  Code/systems/map_manager/components/__init__.py
  Code/systems/map_manager/components/map_items_component.py
  Code/systems/map_manager/components/map_physics_component.py
  Code/systems/map_manager/coordinates.py
  Code/systems/map_manager/map_entity.py
  Code/systems/map_manager/map_manager.py
  Prototype/factory_mappings.yml
  Tests/EntitiFactory/BaseComponent.py
  Tests/EntitiFactory/BaseEntity.py
  Tests/EntitiFactory/PrototypeFactory.py
  Tests/EntitiFactory/__init__.py
Labels: Changes: Code, Changes: Unit test, Changes: API, Changes: Systems

#87 Улучшение координат и создания карты
  Code/systems/entity_system/factory.py
  Code/systems/map_manager/components/map_items_component.py
  Code/systems/map_manager/coordinates.py
  Code/systems/map_manager/map_entity.py
Labels: Changes: Code, Changes: Systems

#90 Главная страница документации
  Docs/main.html
  Docs/styles.css
Labels: Changes: Docs

#91 Обновление карты
  Code/systems/entity_system/base_entity.py
  Code/systems/entity_system/factory.py
  Code/systems/map_manager/__init__.py
  Code/systems/map_manager/components/__init__.py
  Code/systems/map_manager/map_entity.py
  Code/systems/map_system/__init__.py
  Code/systems/map_system/components/__init__.py
  Code/systems/map_system/components/map_coordinates_component.py
  Code/systems/map_system/components/map_items_component.py
  Code/systems/map_system/components/map_physics_component.py
  Code/systems/map_system/coordinates.py
  Code/systems/map_system/map_entity.py
  Code/systems/map_system/map_manager.py
Labels: Changes: Code, Changes: Systems

#94 cl-update
  changelog.yml
  updater_config.json
Labels: Update: Changelog, Update: Changelog config

#95 Add access_flag endpoint
  Code/api/account/__init__.py
  Code/api/account/access_flags.py
  Code/main.py
  Docs/url_endpoint/account/access_flags.html
  Docs/url_endpoint/account/index.html
Labels: Changes: Code, Changes: Docs, Changes: API

#97 Изменение имени репозитории в updater_config.json
  updater_config.json
Labels: Update: Changelog config

#96 Улучшение API
  Code/api/account/access_flags.py
  Code/api/account/change_user_access.py
  Code/api/account/change_user_password.py
  Code/api/account/delete_user.py
  Code/api/account/login_user.py
  Code/api/account/logout_user.py
  Code/api/account/register_user.py
  Code/api/api_tools.py
  Code/api/server/download.py
  Code/systems/access_system/__init__.py
  Code/systems/access_system/access_flags.py
  Code/systems/access_system/auth_manager.py
  Code/systems/access_system/errors.py
  Docs/index.html
  Docs/styles.css
  Docs/url_endpoint/account/access_flags.html
  Docs/url_endpoint/account/change_user_access.html
  Docs/url_endpoint/account/change_user_password.html
  Docs/url_endpoint/account/delete_user.html
  Docs/url_endpoint/account/index.html
  Docs/url_endpoint/account/login_user.html
  Docs/url_endpoint/account/logout_user.html
  Docs/url_endpoint/account/register_user.html
  Docs/url_endpoint/http_error.html
  Docs/url_endpoint/server/download.html
  Docs/url_endpoint/server/index.html
  Docs/url_endpoint/server/status.html
  Tests/AccessManager/AuthManager.py
Labels: Changes: Code, Changes: Docs, Changes: Unit test, Changes: API, Changes: Systems

#98 Улучшение авто апдейтера
  Code/main.py
  Code/systems/auto_updater/__init__.py
  Code/systems/auto_updater/auto_updater.py
  requirements.txt
  updater_config.json
Labels: Changes: Code, Update: Changelog config, Changes: Systems

#99 Улучшение класса настроек
  Code/main.py
  Code/systems/db_systems/settings.py
  Tests/DBManager/SettingsManager.py
Labels: Changes: Code, Changes: Unit test, Changes: Systems

#100 Add uid
  Code/systems/entity_system/base_entity.py
  Code/systems/entity_system/factory.py
Labels: Changes: Code, Changes: Systems

#102 Soket server
  Code/api/__init__.py
  Code/api/admin.py
  Code/api/auth.py
  Code/api/connect.py
  Code/api/socket_server.py
  Code/main.py
  Code/systems/db_systems/settings.py
  Code/systems/events/__init__.py
  Code/systems/events_system/__init__.py
  Code/systems/events_system/event_manager.py
  Code/systems/events_system/events/__init__.py
  Code/systems/events_system/events/test.py
  Code/systems/events_system/register.py
  Code/systems/map_system/components/map_items_component.py
  Code/systems/network/__init__.py
  Code/systems/network/soket_connect_manager.py
  Code/systems/network/websoket_connect_manager.py
Labels: Changes: Code, Changes: API, Changes: Systems

#103 Обнволение настроек и структуры файлов
  Code/main.py
  Code/systems/db_systems/__init__.py
  Code/systems/db_systems/settings.py
  Code/systems/events_system/__init__.py
  Code/systems/events_system/events/test.py
  Code/systems/events_system/register.py
Labels: Changes: Code, Changes: Systems

#104 Возможность разграничивать контент сервера
  Code/api/server.py
  Code/main.py
Labels: Changes: Code, Changes: API
